<!-- <div class='container'> -->
<div class='parallax-container valign-wrapper'>
	<div class='layer'></div>
	<div class='mx-auto' style='z-index: 10'>
		<h1 class='header'>DM Toolbox</h1>
		<div class='center-align'>

			<button data-target='loginModal' class='btn modal-trigger'>Login</button>

			<button data-target='registerModal' class='btn modal-trigger'>Register</button>
		</div>
	</div>
	<div class='parallax'>
	<img width='100%' src='https://upload.wikimedia.org/wikipedia/commons/7/7d/Moraine_Lake_Alberta_Canada.jpg'></div>
</div>
<div id='loginModal' class='modal'>
	<div class='modal-content'>
		<h4 class='raleway center-align'>Login</h4>
		<form action='/login' method='POST'>
			<div class='input-field'>
				<input type='text' id='loginUsername' name='loginUsername' class='' autofocus>
				<label for='loginUsername'>Username</label>
			</div>
			<div class='red-text' id='loginUsernameError'></div>
			<div class='input-field'>
				<input type='password' id='loginPassword' name='loginPassword' class='validate'>
				<label for='loginPassword'>Password</label>
			</div>
			<div class='red-text' id='loginPasswordError'></div>
			<button id='loginButton' type='submit' class='btn waves-effect waves-light' value='submit'>Log In
				<i class="material-icons right">send</i>	
			</button>
			<div class='red-text'>{{err}}</div>
		</form>
	</div>
</div>
<div id='registerModal' class='modal'>
	<div class='modal-content'>
		<h4 class='raleway center-align'>Register</h4>
		<form action='/register' method='POST'>
			<div class='input-field'>
				<input type='email' id='regEmail' name='regEmail' class='validate'>
				<label for='regEmail'>Email</label>

			</div>
			<div class='red-text'>{{registerEmailErr}}</div>
			
			<div class='input-field'>
				<input type='text' id='regUsername' name='regUsername' class='validate'>
				<label for='regUsername' data-error="Error: only letters, numbers, and underscores are allowed.">Username</label>
			</div>
			<div class='red-text' id='regUsernameError'></div>
			<div class='red-text'>{{registerUsernameErr}}</div>

			<div class='input-field'>
				<input type='password' id='regPassword'  name='regPassword' class='validate'>
				<label for='regPassword'>Password</label>
			</div>
			<div class='red-text' id='regPasswordError'></div>
			<div class='input-field'>
				<input type='password' id='regPasswordConf' name='regPasswordConf' class='validate'>
				<label for='regPasswordConf'>Confirm Password</label>
			</div>
			<div class='red-text'>{{registerPasswordErr}}</div>
			<button id='registerButton' type='submit' class='btn btn-primary' value='submit'>Register</button>
		</form>
	</div>
</div>

<div class='section'>
<div class='container'>
<!-- Cool stuff here -->
	<div class='row'>
		<div class='col s4'>
			<div class='card'>
				<div class='card-image'>
					<img src='images/city-silhouette.jpg'>
					<h4 class='header card-title raleway mb-4'>Build Cities!</h4>
				</div>
				<div class='card-content'>
					<p>Create cities from scratch, or use the helpful guides to get you on track to creating realistic cities teeming with life!</p>
				</div>
			</div>
		</div>

		<div class='col s4'>
			<div class='card'>
				<div class='card-image'>
					<img src='images/city-silhouette.jpg'>
					<h4 class='header card-title raleway mb-4'>Build Cities!</h4>
				</div>
				<div class='card-content'>
					<p>Create cities from scratch, or use the helpful guides to get you on track to creating realistic cities teeming with life!</p>
				</div>
			</div>
		</div>

		<div class='col s4'>
			<div class='card'>
				<div class='card-image'>
					<img src='images/city-silhouette.jpg'>
					<h4 class='header card-title raleway mb-4'>Build Cities!</h4>
				</div>
				<div class='card-content'>
					<p>Create cities from scratch, or use the helpful guides to get you on track to creating realistic cities teeming with life!</p>
				</div>
			</div>
		</div>
	</div>
</div>
</div>

<!--
<div class='center-align'>
	<h1 class='my-3'>DM's Toolkit</h1>

	<div class='row'>

		<div class='card col s12 m5'>
			<div class='card-content'>
				<h4 class='card-title raleway'>Login</h4>
				<form action='/login' method='POST'>
					<div class='input-field'>
						<input type='text' id='loginUsername' name='loginUsername' class='' autofocus>
						<label for='loginUsername'>Username</label>
					</div>
					<div class='red-text' id='loginUsernameError'></div>
					<div class='input-field'>
						<input type='password' id='loginPassword' name='loginPassword' class='validate'>
						<label for='loginPassword'>Password</label>
					</div>
					<div class='red-text' id='loginPasswordError'></div>
					<button id='loginButton' type='submit' class='btn waves-effect waves-light' value='submit'>Log In
						<i class="material-icons right">send</i>	
					</button>
					<div class='red-text'>{{err}}</div>
				</form>
			</div>
		</div>

		<div class='card col s12 m5 right'>
			<div class='card-content'>
				<h4 class='card-title raleway'>Register</h4>

					<form action='/register' method='POST'>
						<div class='input-field'>
							<input type='email' id='regEmail' name='regEmail' class='validate'>
							<label for='regEmail'>Email</label>

						</div>
						<div class='red-text'>{{registerEmailErr}}</div>
						
						<div class='input-field'>
							<input type='text' id='regUsername' name='regUsername' class='validate'>
							<label for='regUsername' data-error="Error: only letters, numbers, and underscores are allowed.">Username</label>
						</div>
						<div class='red-text' id='regUsernameError'></div>
						<div class='red-text'>{{registerUsernameErr}}</div>

						<div class='input-field'>
							<input type='password' id='regPassword'  name='regPassword' class='validate'>
							<label for='regPassword'>Password</label>
						</div>
						<div class='red-text' id='regPasswordError'></div>
						<div class='input-field'>
							<input type='password' id='regPasswordConf' name='regPasswordConf' class='validate'>
							<label for='regPasswordConf'>Confirm Password</label>
						</div>
						<div class='red-text'>{{registerPasswordErr}}</div>
						<button id='registerButton' type='submit' class='btn btn-primary' value='submit'>Register</button>
					</form>
			</div>
		</div>
	</div>
</div>
</div>
-->

<script src='js/login.js'></script>
